.chat-container {
  display: flex;
  height: 100vh;
  background-color: #34495e;
}

.chat-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #34495e;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #4a6274;
  border-bottom: 1px solid #dee2e6;
}

.chat-messages {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-form {
  display: flex;
  border-top: 1px solid #dee2e6;
  padding: 10px;
}

.chat-input {
  flex-grow: 1;
  border: none;
  padding: 12px 10px;
  border-radius: 15px;
  background-color: #e9ecef;
  outline: none;
  font-size: 1rem;
}

.chat-send-btn {
  background-color: transparent;
  border: none;
  color: #007bff;
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease-in-out;
}

.chat-send-btn:hover {
  transform: scale(1.2);
}
.chat-search {
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 8px;
  color: white;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color: white;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #4a6274;
  border-bottom: 1px solid #dee2e6;
}

.Chirp-title {
  color: white;
}
.search-input::placeholder {
  color: #ccc;
}

.logout-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #0069d9;
}
