.cc-confirm-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #2c345a, #1d2239);
  backdrop-filter: blur(20px);
}

.cc-confirm-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(29, 34, 57, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  width: 400px;
  color: white;
  font-family: "Quicksand", sans-serif;
}

.cc-confirm-content h2 {
  margin-bottom: 20px;
  color: #bf87f5;
}

.cc-confirm-content p {
  margin-bottom: 20px;
  text-align: center;
}

.cc-error-message {
  color: #dc3545;
  margin-bottom: 10px;
  text-align: center;
}

.cc-input-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}

.cc-code-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
}

.cc-confirmCodeInput {
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  width: calc(100% / 6 - 10px);
  text-align: center;
  color: white;
  font-family: "Quicksand", sans-serif;
}

.cc-confirmCodeInput:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.cc-confirmCodeInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.cc-confirmButton {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 16px;
  background-color: #bf87f5;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.cc-confirmButton:hover {
  background-color: #a56fe3;
}
