.cc-confirm-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #34495e;
}

.cc-confirm-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 75%;
  max-width: 500px;
  height: 350px;
}

.cc-confirm-content h2 {
  margin-bottom: 20px;
  color: #007bff;
}

.cc-confirm-content p {
  margin-bottom: 20px;
  text-align: center;
}

.cc-error-message {
  color: #dc3545;
  margin-bottom: 10px;
  text-align: center;
}

.cc-input-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}

.cc-code-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
}

.cc-confirmCodeInput {
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #f0f2f5;
  width: calc(100% / 6 - 10px);
  text-align: center;
}

.cc-confirmButton {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cc-confirmButton:hover {
  background-color: #0056b3;
}
