.contact {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.contact:hover {
  background: rgba(255, 180, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  max-height: 50px;
  max-width: 50px;
}

.contact-name {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  transition: 0.4s ease-in-out;
}
.contact-email {
  margin: 1;
  font-family: "Quicksand", sans-serif;
  transition: 0.4s ease-in-out;
}

.contact:hover .contact-name {
  color: mediumpurple;
}
.contact:hover .contact-email {
  color: mediumpurple;
}
