.contact {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.08s ease-in;
}

.contact:hover {
  background: rgba(255, 180, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-name {
  margin: 0;
  font-size: 16px;
  color: white;
}

.contact:hover .contact-name {
  color: mediumslateblue;
}
