.side-panel {
  width: 400px;
  height: 100%;
  background-color: #34495e;
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
}

.side-panel-header {
  padding: 27.5px;
  border-bottom: 1px solid #dee2e6;
  background-color: #4a6274;
  color: white;
  display: flex;
}
.side-panel-content {
  flex-grow: 1;
  overflow-y: auto;
}

.chat-search {
  margin-left: 8rem;
}
.search-input {
  max-width: 130px;
}

.profile-popup-wrapper {
  position: relative;
  height: 100%;
}
