.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #2c345a, #1d2239);
  backdrop-filter: blur(20px);
}

.signup-title {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, aquamarine, mediumpurple);
  background-clip: text;
  color: transparent;
  position: absolute;
  top: 0;
  margin-top: 2rem;
  font-family: "Quicksand", sans-serif;
}

.signup-content {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(29, 34, 57, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  width: 25rem;
  color: white;
  font-family: "Quicksand", sans-serif;
}

.signup-content h2 {
  margin-bottom: 2rem;
  background: linear-gradient(135deg, aquamarine, mediumpurple);
  background-clip: text;
  color: transparent;
  font-size: 1.8rem;
}

.error-message {
  color: #dc3545;
  margin-bottom: 10px;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}

.signupLabel {
  margin-bottom: 5px;
  font-weight: bold;
  color: aquamarine;
  font-size: 1.08rem;
}

.signupInput {
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  margin-bottom: 10px;
  color: white;
  transition: background-color 5000s ease-in-out;
  font-family: "Quicksand", sans-serif;
}

.signupInput:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.signupInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.signupButton {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background: linear-gradient(45deg, aquamarine, mediumpurple);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.signupButton:hover {
  transform: scale(1.05);
}

.animation-signUp-container {
  transform: scaleX(-1);
}

.register-link {
  position: relative;
  color: aquamarine;
  font-family: "Quicksand";
}

.register-link a {
  position: relative;
  text-decoration: none;
  color: mediumpurple;
}

.register-link a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  visibility: hidden;
  transition: visibility 0.25s, transform 0.25s ease-in-out;
  transform: scaleX(0);
  transform-origin: bottom right;
}

.register-link a:hover::before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: bottom left;
}
